* {
  margin: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #fdfbba;
  background-size: 34px 34px;
  background-image:  repeating-linear-gradient(0deg, #f1c84e, #f1c84e 1.7000000000000002px, #fdfbba 1.7000000000000002px, #fdfbba);
  cursor: url('images/main_curseur-removebg.png') 0 0, auto;
  height: 100%;
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: column;
}

a {
  color: #242424;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 2.3em;
  font-weight: 300;
  color: #d8433e;
  font-family: 'Karla', sans-serif;
  padding-top: 50px;
  padding-left: 80px;
  
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
  color: #d8433e;
  font: 'Karla', 'sans-serif';
  padding-top: 20px;
  padding-left: 80px;
}

p,
li {
  font-size: 1.1em;
  color: black;
}

header,
footer {
  padding: 20px 50px;
}

main {
  flex:1;
}

header a:hover{
  opacity: 0.5;
  cursor: url('images/main_curseur-removebg.png') 0 0, auto;
}

.menu-categories{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
  text-align: center;
}

.menu-categories a{
  white-space: nowrap;
}

@media (max-width: 600px) {
  .menu-categories {
    overflow-x: auto;        /* permet de scroller horizontalement si besoin */
    padding: 0 10px;
  }
}

.cta {
  background-color: #d8433e;
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
}

.mail-contact{
  text-align: center;
}

.mail-contact a{
  display: inline-block;
}

.cta:hover {
  background: linear-gradient(#d8433e, #e99895);
  text-decoration: none;
  cursor: url('images/main_curseur-removebg.png') 0 0, auto;
}

a:hover {
  text-decoration: underline;
}

.lien-icone {
  margin-left: 30px;
}

.lien-icone:hover {
  opacity: 0.5;
  cursor: url('images/main_curseur-removebg.png') 0 0, auto;
}

.carre-contenu {
  padding: 50px;
  text-align: center;
}

.carre-contenu p{
  text-align: justify;
  padding-bottom: 50px;
  padding-left: 20px;
}

.carre-contenu img{
  border-radius: 10px;
  display: inline-block;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

section {
  padding: 80px;
}

.a-propos-main {
  width: 100%;
  margin: auto;
  background-color: white;
}

footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 30px;
}

.accueil-photos {
  padding: 80px;
}

.accueil-photos h2 {
  color: #d8433e;
  text-align: center;
  margin-bottom: 50px;
  font-size: 2em;
}

.accueil-photos div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
  align-items: left;
}

.contenu_pages_annexes{
  background-color: #fbf99d;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-top:20px;
}

.rangee_photos{
  padding-top:5px;
}

.rangee_photos div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: 20%;
  margin-bottom: 15px;
  align-items: left;
}

.accueil-photos div a:hover{
  opacity: 0.8;
  cursor: url('images/main_curseur-removebg.png') 0 0, auto;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  width: 25%;
  align-items: center;
  margin: auto;
  margin-top: 80px;
}

.portfolio-section-photos {
  background-color: white;
}

.portfolio-section-photos h2 {
  color: #242424;
  margin-bottom: 80px;
}

.grid-paysages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 15px;
}

.grid-portraits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px;
}

.grid-paysages img,
.grid-portraits img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
